* {
	margin: 0;
	padding: 0;
}

header {
	font-size: :2.5em;
	background: rgba(10,70,180,1);
	text-align: center;
	color: #fff;
	padding: 35px;
	text-shadow:2px 2px 5px rgba(0,0,0,1);
}

nav ul {
	background: rgba(10, 80, 190, 1);
	padding: 1px;
}

nav ul li, nav ul li a {
	color: #fff;
	display: inline-block;
}
nav ul li a:link, nav ul li a:visited {
	padding: 20px;
	text-decoration: none;
	font-family: sans-serif;
	text-transform: capitalize;
}

nav ul li a:hover, nav ul li a:active {
	background: rgba(100,100,100,1);	
}

main {
	width: 95%;
	margin: 15px;
}

article {
	background: rgba(245,245,245,1);
	border: 1px solid #ddd;
	width: 65%;
	padding: 15px;
	float:left;
}

article h1 {
	color: rgba(80,80,250,1);
}

article img {
	width: 70%;
}

article p {
	color: rgba(20, 20, 220, 1);
}

article p span {
	color: rgba(20, 20, 130, 1);
}

article a {
	color: rgba(150,50,250,1);
	display: block;
	text-align: right;
	padding: 0 20px 2px 0;
	text-decoration:  underline;
}

article a:hover {
	color: rgba(150,50,250,0.75);
}

aside {
	width: 25%;
	float: right;
}

aside .sidebar {
	border: 1px solid #ccc;
	background: rgba(240, 240, 240, 1);
	color: rgba(200, 80, 0, 1);
	padding: 25px;
	margin-bottom: 20px;
}

aside .sidebar h2 {
	background: rgba(240, 240, 240, 1);
	border: none;
	color: rgba(0,0,250,1);
	border-radius: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

aside .sidebar li {
	background: rgba(230, 230, 230, 1);
	border: transparent;
	border-radius: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-left: 30px;
}

aside a {
	color: rgba(0,0,0,1);
}

aside a:hover {
	color: rgba(0,0,0,0.6);
}

aside ul li {
	list-style: none;
	padding: 7px 0 5px 20px;
	border-bottom: 1px dotted $ccc;
}
form {
	width: 65%;
	float: left;
}

input {
	background: rgba(0,0,0,0) !important;
	outline: none !important;
}

input[type='text'] {
	width: 60%;
	display: block;
	border-bottom: 1px dotted $ccc;
}
textarea {
	width: 90%;
	display: block;;
	display: block;
	background: rgba(0,0,0,0) !important;	
	outline: none !important;
	min-height: 200px;
	border-bottom: 1px dotted $ccc;
	padding: 20px;
	margin-top: 10px;
}

input[type='text']

input[type='submit'] {
	padding: 10px 20px;
	float: right;
	margin: 10px 15px 10px auto;
}

footer {
	font-size: 0.8em;
	padding: 40px;
	background: rgba(10,70,180,1);
	text-align: center;
	color: white;
}

.clear {
	clear:both;
}