* {
	margin: 0;
	padding: 0;
}

header {
	font-size: :2.5em;
	background: rgba(10,70,180,1);
	text-align: center;
	color: #fff;
	padding: 35px;
	text-shadow:2px 2px 5px rgba(0,0,0,1);
}

nav ul {
	background: rgba(10, 80, 190, 1);
	padding: 1px;
}

nav ul li, nav ul li a {
	color: #fff;
	display: inline-block;
}
nav ul li a:link, nav ul li a:visited {
	padding: 20px;
	text-decoration: none;
	font-family: sans-serif;
	text-transform: capitalize;
}

nav ul li a:hover, nav ul li a:active {
	background: rgba(100,100,100,1);	
}

main {
	width: 95%;
	margin: 15px;
}

main article {
	background: rgba(245,245,245,1);
	border: 1px solid #ddd;
	width: 65%;
}

main article h1 {
	color: rgba(97,92,92,1);
}

main article img {
	width: 70%;
}

main article p {
	color: rgba(20, 20, 220, 1);
}

main article p span {
	color: rgba(20, 20, 130, 1);
}

main article a {
	color: rgba(150,50,250,1);
	display: block;
	text-align: right;
	padding: 0 20px 2px 0;
	text-decoration:  underline;
}

main article a:hover {
	color: rgba(150,50,250,0.75);
}